<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each customers}}
        <tr>
            <td>{{this.CustomerID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Address}}</td>
            <td>{{#if this.Local}}Yes{{else}}No{{/if}}</td>
            <td>{{this.Buyer}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Phone}}</td>
            <td>{{this.Tier}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
